@import url(./fonts.css);

*,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	--main-font-color: rgb(75, 75, 75);
	--header-font-family: 'Playfair-Display', sans-serif;
	--shadow-color: rgba(0, 0, 0, 0.3);
	--bg-highlight-color: rgb(160, 25, 25);
}

/* Mobile Screens */

/* Layout */

header,
section,
footer {
	width: 100%;
	justify-content: center;
}

h1 {
	font-family: var(--header-font-family);
	font-weight: 100;
	font-size: 2em;
}

/* Header */

header {
	display: flex;
}

.header-wrapper {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin: 5%;
}

.style-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	z-index: -10;
}

.style-box {
	background-color: var(--bg-highlight-color);
	position: absolute;
	width: 1500px;
	height: 1000px;
	top: -580px;
	left: -500px;
	transform: rotate(-15deg);
	box-shadow: 0 0 15px 0 var(--shadow-color);
}

.image-wrapper {
	position: relative;
	width: fit-content;
	height: fit-content;
	margin-bottom: 5%;
}

.image-wrapper img {
	width: 100%;
	height: 500px;
	object-fit: cover;
	box-shadow: 0 0 15px 0 var(--shadow-color);
}

.image-wrapper > h1 {
	position: absolute;
	right: 50%;
	bottom: 0;
	transform: translateX(50%);
	color: #fff;
	text-shadow: 3px -2px 5px #000;
	font-size: 2.5em;
}

.header-wrapper p {
	line-height: 1.5rem;
	margin-bottom: 5%;
	color: var(--main-font-color);
}

.social-buttons {
	display: flex;
	gap: 1.5em;
}

button {
	display: flex;
	width: 40px;
	border-radius: 5px;
	border: 0;
	box-shadow: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

button:hover {
	scale: 1.1;
}

/* Cards Section */

section {
	margin: 13vh auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: transparent;
}

section h1 {
	margin-bottom: 0.5em;
}

.card-wrapper {
	display: flex;
	flex-direction: column;
	gap: 3em;
	align-items: center;
}

.card {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 90vw;
	height: fit-content;
	box-shadow: 0 5px 15px 0 var(--shadow-color);
}

.card > img {
	height: 300px;
	background-color: rgb(133, 96, 163);
	color: #fff;
	display: block;
	max-width: 100%;
	max-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 2em;
	font-size: 2em;
	font-family: var(--header-font-family);
	z-index: 2;
}

.desc-wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0.5em 1.5em;
	height: 9em;
}

.desc-header {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding-bottom: 0.5em;
}

.desc-header h1 {
	font-size: 1.1em;
	font-weight: 500;
	margin-right: auto;
}

.desc-header button {
	display: flex;
	width: 1.5em;
	align-items: center;
	margin-left: 1em;
}

.desc-wrapper > p {
	font-size: 0.8em;
	color: var(--main-font-color);
}

/* Footer */

footer {
	display: flex;
	bottom: 0;
	background-color: var(--bg-highlight-color);
	color: #fff;
	margin-top: 7em;
}

.footer-wrapper {
	display: flex;
	flex-direction: column;
}

.contact-wrapper {
	display: flex;
	flex-direction: column;
	padding: 1em;
	margin-bottom: 0.5em;
	font-size: 1.1em;
}

.contact-wrapper h1 {
	text-align: center;
	margin-bottom: 0.5em;
}

.contact-wrapper > *:nth-child(2) {
	margin-bottom: 1.5em;
}

.contact-wrapper > *:nth-child(3),
.phone-num,
.email {
	font-size: 0.75em;
}

.phone-num,
.email {
	margin: 1.5em 0 -1em 0;
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.phone-num img,
.email img {
	display: flex;
	width: 0px;
	filter: invert();
	visibility: hidden;
	margin-left: -0.5em;
}

.contact-wrapper > .social-buttons {
	justify-content: center;
	margin: 2em 0;
}

.contact-wrapper > .social-buttons > button {
	width: 50px;
}

.footer-img {
	object-fit: cover;
	object-position: -325px;
	width: 100%;
	height: 600px;
}

/* Tablet Screens */

@media only screen and (min-width: 750px) {
	:root {
		font-size: 18px;
	}

	/* Header */

	.header-wrapper {
		display: block;
		margin: 17% 10% 0 10%;
		background-color: #fff;
		padding: 1rem;
		box-shadow: 0 0 15px 0 var(--shadow-color);
	}

	.image-wrapper {
		float: left;
		margin: -18% 0 0 -10%;
		padding-right: 1rem;
	}

	.image-wrapper img {
		width: 400px;
		height: 400px;
	}

	.image-wrapper > h1 {
		position: absolute;
		right: -75%;
		bottom: 100%;
		width: 500px;
		text-shadow: 1px 3px 5px #000;
		font-size: 3em;
		transform: translateY(110%);
	}

	.header-wrapper > h1 {
		margin: 3rem 0 1rem;
		text-align: center;
	}

	.header-wrapper p {
		padding: 0.5em 0.5em 0 0.5em;
	}

	.header-wrapper > .social-buttons {
		visibility: hidden;
	}

	/* Card Section */

	section {
		margin: 6vh auto 20vh auto;
		flex-direction: column;
		width: 85vw;
		align-items: flex-start;
	}

	.card-wrapper {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 3em 2em;
	}

	.card {
		max-width: 40vw;
	}

	/* Footer */

	.footer-wrapper {
		flex-direction: row;
	}

	.contact-wrapper {
		padding: 0;
		margin: 5em 3em 3em 3em;
		font-size: 1.1em;
	}

	.contact-wrapper h1 {
		text-align: left;
		font-size: 2em;
	}

	.contact-wrapper > *:nth-child(2) {
		margin-bottom: 1.5em;
	}

	.contact-wrapper > *:nth-child(3),
	.phone-num,
	.email {
		font-size: 1em;
	}

	.footer-img {
		padding: 2em 2em 3em 0;
		object-position: -280px;
		width: 75%;
		height: 100%;
	}

	.phone-num img,
	.email img {
		width: 30px;
		visibility: visible;
		margin-left: 0;
	}

	.contact-wrapper > .social-buttons {
		justify-content: flex-start;
	}

	.contact-wrapper > .social-buttons button {
		width: 40px;
	}
}

/* Desktop Screens */

@media only screen and (min-width: 992px) {
	:root {
		font-size: 28px;
	}

	/* Header */

	.style-box {
		width: 5000px;
		height: 1000px;
		top: -350px;
		left: -1500px;
	}

	.header-wrapper {
		margin: 8% 5% 15% 5%;
		padding: 0;
		height: 65vh;
	}

	.image-wrapper {
		margin: -5.5% 0;
	}

	.image-wrapper img {
		width: 40vw;
		height: 85vh;
	}

	.image-wrapper > h1 {
		font-size: 2.8em;
		position: absolute;
		bottom: 0;
		right: 50%;
		transform: translateX(48.5%);
		white-space: nowrap;
		width: fit-content;
	}

	.header-wrapper > h1 {
		margin: 2rem 0 1rem;
		font-size: 2em;
		text-align: left;
	}

	.header-wrapper p {
		padding: 0.5em 2em;
	}

	.header-wrapper > .social-buttons {
		visibility: visible;
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 2em;
	}

	.header-wrapper > .social-buttons button {
		width: 50px;
	}

	/* Card Section */

	section {
		margin: 0 auto 20vh auto;
		flex-direction: column;
		width: 90vw;
		align-items: flex-start;
	}

	.card {
		flex: 1 1 25%;
		height: 60vh;
	}

	.desc-wrapper h1 {
		font-size: 1.2em;
	}

	.desc-wrapper button {
		width: 2.5em;
		margin-left: 2em;
	}
}
